PORT=5001
MONGODB_URI=mongodb+srv://arbab2201156ec_db_user:j9V1Wwq5kV2Zbnlb@minisocialpostapplicati.g24i2ps.mongodb.net/?appName=MiniSocialPostApplication
JWT_SECRET=change_this_to_a_secure_secret
CLIENT_URL=http://localhost:5173
